@model BookVM

@{
    ViewData["Title"] = "EditBook";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>Edit Book</h1>

<hr />
<form asp-action="EditBook" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="row">
        <div class="form-group" style="text-align: center;">
            <div class="input-group">
                <!-- Hidden file input -->
                <input type="file" id="imageInput" name="imageFile" accept="image/*" class="form-control d-none" onchange="previewImage(event)">
                <!-- Clickable image to trigger file input -->
                <div class="image-container">
                    <img src="~/assets/images/books/@Model.book.Image" alt="Current Image" id="currentImage" class="img-fluid" onclick="chooseImage(event)">
                    <div class="overlay">
                        <span class="text">Change Image</span>
                    </div>
                </div>
                <input type="text" asp-for="book.Image" hidden/>
            </div>
            <span asp-validation-for="book.Image" class="text-danger"></span>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="book.ID" class="control-label"></label>
                <input asp-for="book.ID" disabled class="form-control" />
                <span asp-validation-for="book.ID" class="text-danger"></span>
                <input type="hidden" asp-for="book.ID" /> @* to pass rate beecause it is read only *@
            </div>
            <div class="form-group">
                <label asp-for="book.Name" class="control-label"></label>
                <input asp-for="book.Name" class="form-control" />
                <span asp-validation-for="book.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book.Description" class="control-label"></label>
                <input asp-for="book.Description" class="form-control" />
                <span asp-validation-for="book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book.Price" class="control-label"></label>
                <input asp-for="book.Price" class="form-control" />
                <span asp-validation-for="book.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book.Quantity" class="control-label"></label>
                <input asp-for="book.Quantity" class="form-control" />
                <span asp-validation-for="book.Quantity" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="book.Rate" class="control-label"></label>
                <input asp-for="book.Rate" disabled class="form-control" />
                <span asp-validation-for="book.Rate" class="text-danger"></span>
                <input type="hidden" asp-for="book.Rate" /> @* to pass rate beecause it is read only *@
            </div>
            <div class="form-group">
                <label asp-for="book.Author_id" class="control-label"></label>
                <select class="myform-control" asp-for="book.Author_id">
                    @foreach (var author in Model.authors)
                    {
                        if (Model.book.Author_id == author.ID)
                        {
                            <option value="@author.ID" selected>@author.Name</option>
                        }
                        else
                        {
                            <option value="@author.ID">@author.Name</option>
                        }
                    }
                </select><span asp-validation-for="book.Author_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book.Category_id" class="control-label"></label>
                <select class="myform-control" asp-for="book.Category_id">
                    @foreach (var category in Model.categories)
                    {
                        if (Model.book.Category_id == category.ID)
                        {
                            <option value="@category.ID" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.ID">@category.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="book.Category_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book.Discount_id" class="control-label"></label>
                <select class="myform-control" asp-for="book.Discount_id">
                    <option value="">-- no discount --</option>
                    @foreach (var discount in Model.discounts)
                    {
                        if (Model.book.Discount_id == discount.ID)
                        {
                            <option value="@discount.ID" selected>@discount.Percantage</option>
                        }
                        else
                        {
                            <option value="@discount.ID">@discount.Percantage</option>
                        }
                    }
                </select>
                <span asp-validation-for="book.Discount_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book.Admin_id" class="control-label"></label>
                <select class="myform-control" asp-for="book.Admin_id">
                    @foreach (var admin in Model.admins)
                    {
                        if (Model.book.Admin_id == admin.Id)
                        {
                            <option value="@admin.Id" selected>@admin.Id</option>
                        }
                        else
                        {
                            <option value="@admin.Id">@admin.Id</option>
                        }
                    }
                </select>
                <span asp-validation-for="book.Admin_id" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="book.IsAvailable" /> @Html.DisplayNameFor(model => model.book.IsAvailable) <span>(to be shown)</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>



<div>
    <a asp-action="Books">Back to List</a>
</div>

