@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_NewDashLayout.cshtml";
}
@model List<ApplicationUser>

<link href="~/css/newdash/tables/Tables.css" rel="stylesheet" />

<style>
    tbody tr td {
        text-align: left;
    }
</style>


<title>Users</title>



<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Users</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Users
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Orders</th>

                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Orders</th>
                </tr>
            </tfoot>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@(item.FirstName + " " + item.LastName)</td>
                        <td>@item.Address</td>

                        <td><button type="button" id="" onclick="OrderDetails(@item.Id)" data-bs-toggle="modal" data-bs-target="#info" class="btn btn-outline-primary" style="margin: 5px 0;">@item.Orders.Count()</button></td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ordes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="DivOrders">

                @* <ul class="list-unstyled" >
                <li id="NumberOrder"> </li>
                <li id="DateOrder"> </li>
                <li id="TotalOrder"> </li>
                </ul> *@
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" ta-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>



<script>
    divLis = document.getElementById("DivOrders");
    function OrderDetails(UserID) {
        $.ajax({
            url: '/Dashboard/GetOrdersUser?UserID=' + UserID,
            type: 'GET',
            dataType: 'json',
            success: function (obj) {
                divLis.innerHTML = '';
                console.log(obj);
                for (let item of obj) {

                    let ul = document.createElement("ul");
                    ul.classList.add("list-unstyled");

                    let li_ID = document.createElement("li");
                    li_ID.textContent = `Order Id : ${item.id}`;
                    ul.appendChild(li_ID);
                    let li_Date = document.createElement("li");
                    li_Date.textContent = `Date :${item.date}`;
                    ul.appendChild(li_Date);

                    let li_Price = document.createElement("li");
                    li_Price.textContent = `total Price : ${item.total_Price}`;
                    ul.appendChild(li_Price);


                    divLis.appendChild(ul);
                    // document.getElementById("NumberOrder").textContent = `Order Id : ${item.id}`;
                    // document.getElementById("DateOrder").textContent = `Date :${item.date}`;
                    // document.getElementById("TotalOrder").textContent = `total Price : ${item.total_Price}`;
                }


            },
            error: function (xhr, status, error) {
                // Handle error
                console.log("noooooo")

            }
        });
    }

</script>
